<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Network</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="/css/chat.css"> -->
  
  <!-- CSRF token -->
  <meta name="csrf-token" content="<%= csrfToken %>">
</head>
<body data-user-id="<%= currentUser ? currentUser._id : '' %>" class="bg-gray-100">
  <%- include('../partials/header') %>

  <div class="layout-container">
    <!-- Sidebar trái -->
    <%- include('../partials/sidebar-left') %>

    <!-- Nội dung chính -->
    <main class="main-content">
      <%- body %>
    </main>

    <!-- Sidebar phải -->
     <%- include('../partials/sidebar-right') %>
  </div>

  <%- include('../partials/footer') %>
  <script src="/js/main.js"></script>
</body>
</html>